 @{
    var themeName = WyamHelper.GetThemeName();
    var themeVersion = WyamHelper.GetThemeVersion();
    var themeUrl = WyamHelper.GetThemeUrl();

    var themeTitle = String.Format("{0}, v{1}", themeName, themeVersion);
}

<!-- Footer -->
<div id="footer-wrapper" class="d-footer-container">
    <div class="container p-3">
        <div class="row">
            <div class="center-block d-col-centered">
                Built with <a href="@themeUrl">@themeTitle</a>
            </div>
        </div>
    </div>
</div>

<script>mermaid.initialize({startOnLoad:true});</script>