 @{
    var navService = NavigationService.GetInstance(Documents);
    
    var leftNavigationNodes = navService.GetLeftNavigationForDocument(Model);  
 }
 
 <div class="d-left-nav-container">
    <div class="">
        
        @foreach(var leftNavigationNode in leftNavigationNodes) {
            var leftNavigationDocument = leftNavigationNode.Document;

            var title = leftNavigationDocument.Get("title", leftNavigationDocument.Get("SourceFileBase")); 
            var leftNodeTitle = title; 

            var siblingNodes = leftNavigationNode.GetSiblingNodes();

            @if(siblingNodes.Any()) {
                <div class="d-left-nav-header">
                    <span>
                        @leftNodeTitle
                    </span>
                </div>
                <div class="d-left-nav-list">
                    <ul class="list-inline">
                        @foreach(var siblingNode in siblingNodes) {

                            var siblingDocument = siblingNode.Document;

                            var siblingTitle = siblingDocument.Get("title", siblingDocument.Get("SourceFileBase")); 
                            var siblingUrl = WyamHelper.GetUrl(siblingDocument);
                            var activeClass = navService.IsActiveLeftNavigationNode(siblingDocument, Model) ? "active" : "";

                            <li class="@activeClass">
                                <a class="@activeClass" href="@siblingUrl">
                                    @siblingTitle
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                @if(leftNavigationNodes.Last() != leftNavigationNode){
                    <hr/>
                }
            }
        }

    </div>  
</div>