@{
    var navService = NavigationService.GetInstance(Documents);
    
    var topNavigationNodes = navService.GetTopNavigationForDocument(Model);
}

@if(topNavigationNodes.Any()) {

<div class="justify-content-center">
    <ul class="nav nav-pills justify-content-center1">

       @foreach(var topNavigationNode in topNavigationNodes) {
            var document = topNavigationNode.Document;

            var url = WyamHelper.GetUrl(document);
            var title = document.Get<String>(WyamHelper.Attributes.Title);
            var activeClass = navService.IsActiveTopNavigationNode(document, Model) ? "active" : "";

            <li class="nav-item">
                <a class="nav-link @activeClass" href="@url">
                    @title
                </a>
            </li>
        }
        
    </ul>
</div>    

}